*{
    position: relative;
}

.nav-a{
    margin-left: 200px;
    font-weight: 700;
}

.nav-a:hover{
    margin-left: 200px;
    font-weight: 700;
    color: rgba(60, 150, 252, 0.866);
}

.main-nav{
    z-index: 2;
}

.link-a{
    margin-left: 30px;
    font-size: large;
    font-weight: 500;
}

.link-a:hover{
    margin-left: 30px;
    font-size: large;
    font-weight: 500;
    color: white;
    background-color: rgb(25, 24, 24);
}

.svg-1{
    margin-left: 120px;
    color: rgb(150, 149, 149);
}

.svg-2{
    margin-left: 50px;
    color: rgb(150, 149, 149);
}

.svg-1:hover,.svg-2:hover{
    color: white;
}

.banner{
    left: 0;
    right: 0;
    background-image: url(https://th.bing.com/th/id/R.1de0d41d3e47bf092bc67cf4529ce64e?rik=x72hDquXpyeEOw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f50jxYev.jpg&ehk=%2fu%2fa0JleWluRwoLzjaXOMG2R2Oke2Bt7vvFKDmgKGSc%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
}

.hidden{
    padding-bottom: 250px;
    color: white;
    font-weight: 700;
    margin-top: 100px;
}

/* .hidden{
    filter: blur(0);
    transform: translateX(-50% 0 100% 0);
    transition: all 5s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
} */

.para-1{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
}

.head-1{
    font-size: 50px;
}

.head-1{
    /* animation-name: welcome;
    animation-duration: 2s; */
    /* font-size: 2rem; */
    white-space: nowrap;
    animation: moveRightToLeft 1.9s forwards;
}

.para-1{
    /* animation-name: para;
    animation-duration: 2.3s; */
    /* font-size: 2rem; */
    white-space: nowrap;
    animation: moveRightToLeft 3s forwards;
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(200%);
    }

    100%{
        transform: translateX(0);
    }
}


/* @keyframes para{
    0%{left: 0px; right: 0px;}
    25%{left: 600px; right: 0px;}
    50%{left: 500px; right:500px;}
    75%{left: 0px; right:500px;}
    100%{left: 0px; right: 0px;}
}

@keyframes welcome{
    0%{left: 0px; right: 0px;}
    25%{left: 600px; right: 0px;}
    50%{left: 500px; right:500px;}
    75%{left: 0px; right:500px;}
    100%{left: 0px; right: 0px;}
} */

.btn{
    background-color:rgba(60, 150, 252, 0.866) ;
    margin-top: 200px;
    padding: 10px 60px;
}

.alink{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.alink:hover{
    font-size: 18px;
    font-weight: 600;
    color: rgba(60, 150, 252, 0.866);
}

.btn:hover{
    background-color:black;
    margin-top: 200px;
    font-weight: 700;
    padding: 10px 60px;
    border: white solid 1px;
}

.banner-2{
    background-color: white;
}

.topple-div{
    margin-right: 60px;
    margin-top: 60px;
    width: 100%;
    font-size: 25px;
}

.topple-div h1{
    font-size: 50px;
}

.main-topple{
    display: flex;
    width: 100%;
}

.img-div img{
    width: 200px;
    margin-top:5px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.img-div img:hover{
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.808), 0 6px 20px 0 rgba(0, 0, 0, 0.808);
}

.img-div{
    right: 0;
    margin:0;
    width: 100%;
}

.banner-3{
    background-color: rgba(0, 0, 0, 0.912);
}

.img-prime{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.ip{
    width: 140px;
}

.img-pre{
    padding: 60px 0px 60px 0px;
}

.para-2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.head-2{
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
    margin-top: 30px;
    color: white;
}

.banner-4{
    background-color: black;
    z-index: 1;
}

.side-move{
    width: 80%;
    height: 80vh;
    margin-left:150px ;
}

.scrollmanu{
    overflow: auto;
    white-space: nowrap;
    display: flex;
}

.scrollmanu::-webkit-scrollbar{
    width: 0;
}

.img-1{
    width: 100%;
    display: flex;
    margin-top: 20px;
    position: relative;
    margin-left: 50px;
}

.img-1 .img-2{
    position: relative;
    width: 250px;
    block-size: 200px;
    margin-right: 20px;
    transition: 0.5s;
}

.rel-div{
    z-index: 1;
}

.img-2{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.car-img .overlay{
    overflow: hidden;
}

.car-img .img-3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    z-index: 2;
}

/* .img-2:hover .car-img{
    transform: scale(1.3);
    transition: transform 0.4s;
} */

/* .overlay{
    width: 100%;
    height: auto;
    background: black;
    padding: 15px; */
    /* border: solid 1px white; */
    /* box-sizing: border-box;
    position: absolute;
    bottom: 20;
    left: 0;
    right: 0;
    border: solid 1px white;
    transform: translateY(-100%);
    transition: transform 0.3s;
    z-index: -2;
    overflow: hidden;
} */

.img-2:hover .overlay{
    transform: translateY(0);
    transform: scale(1.0);
}

.over{
    color: white;
}

.img-1 .img-2:hover{
    height: -400px;
}

.img-2:hover{
    transform: scale(1.23);
    z-index: 2;
}

.img-1 .img-2 .img-3{
    position: absolute;
    width: 300px;
    height: 140px;
    background-color: white;
    transition: 0.5s;
}
/* 
.img-1 .img-2:hover .img-3{
    bottom: 100px;
    scale: 0.75;
    box-shadow: 0 15px 45px white;
} */

.img-h{
    width: 100%;
    display: flex;
    margin-top: 20px;
    position: relative;
    margin-left: 50px;
}

.img-h .img-2{
    position: relative;
    width: 250px;
    block-size: 200px;
    margin-right: 20px;
    transition: 0.5s;
}

/* .img-h .img-2:hover{
    height: -400px;
}

.img-h .img-2 .img-3{
    position: absolute;
    width: 300px;
    height: 140px;
    background-color: white;
    transition: 0.5s;
}

.img-h .img-2:hover .img-3{
    bottom: 100px;
    scale: 0.75;
    box-shadow: 0 15px 45px white;
} */

.img-3{
    position: relative;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.3s;
}

/* .img-3:hover{
    transform: scale(1.);
    z-index: 2;
} */

  
.img-2 {
    position: relative;
    width: 50%;
    z-index: 1;
  }
  
  .img-3 {
    display: block;
    width: 100%;
    height: auto;
  }

  /* .overlay {
    position: absolute;
    top: 80;
    bottom: 1;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #21baed;
  } */
  
  .img-2:hover .overlay{
    opacity: 1;
    z-index: 2;
  }
  
  /* .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
 */

  
.color{
    color: rgba(60, 150, 252, 0.866);
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
}

.words{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
}

.link-col{
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    margin-left: 15px;
    color: white;
}

.cursor{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    z-index: 3;
}

.cursor::after{
    content: " ";
    height: 30px;
    width: 30px;
    position: absolute;
    border: 8px solid rgb(0, 119, 255);
    border-radius: 50%;
    opacity: .5;
    top: -2px;
    left: -2px;
    animation: cursorAnim2 .5s infinite alternate;
    z-index: 3;
}

.expand{
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
    
}

@keyframes cursorAnim3{
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(3);
    }
    100%{
        transform: scale(1.2);
    }
}

@keyframes cursorAnim2{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(.4);
    }
}

@keyframes cursorAnim{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(.7);
    }
}

/* card */

.nav-d{
    position: sticky;
    width: 90%; 
    top: 20px;
    border-radius: 20px;
    height: 50px;
    margin-left: 80px;
    z-index: 2;
}


.nav-b{
    font-weight: 700;
}

.nav-b:hover{
    color: rgba(60, 150, 252, 0.866);
}

.nav-c{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 10%;
}

body{
    background-color: black;
}

.nav-il{
    width: 15%;
    padding: 10px;
    font-size: 25px;
    border: solid 1px white;
    font-weight: 600;
    color: white;
    margin-top: 20px;
}

.il-1{
    font-size: 17px;
    font-weight: 700;
    color: black;
}

.in-1{
    display: flex;
    margin-left: 8px;
}

.img-g{
    width: 100%;
    display: flex;
    margin-top: 20px;
    position: relative;
    margin-left: 50px;
}

.img-g .img-a{
    position: relative;
    width: 250px;
    block-size: 200px;
    margin-right: 20px;
    transition: 0.5s;
}

.img-a:hover{
    transform: scale(1.23);
    z-index: 2;
}

.img-g .img-a .img-b{
    position: absolute;
    width: 300px;
    height: 140px;
    background-color: white;
    transition: 0.5s;
    border-radius: 5px;
}

.container-1{
    display:block;
}

.moi{
    color: white;
    font-weight: 700;
    margin-top: 20px;
}

.banner-s{
    margin-top: 40px;
}

.help{
    color: white;
    text-decoration: none;
    right: 5px;
}

.help:hover{
    color: blue;
}