*{
    font-family: "Open Sans";
}
.scaleup-img-div{
    display: flex;
    margin: 5px;
    padding: 20px;
    background-color: #f5f5f5;
}
.btn-cte{
    margin-left:85% ;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 17px;
    background-color: rgb(115, 0, 231);
}
.img-2-div{
    text-align: center;
    padding: 20px;
}
.img-1{
    width: 150px;
}

.words-div{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px 550px;  
}
a{
    text-decoration: none;
    color: black;
}
.black-div{
    padding-left: 40px;
    padding-top: 10px;
    color: aliceblue;
}
.black-div-on{
    background-color: black;
    width: 40%;
    padding: 100px;
    font-size: 20px;
}
.para-div{
    font-size: small;
    display: flex;
}
.R-btn{
    padding: 12px;
    background-color: rgb(115, 0, 231);
    color: aliceblue;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    margin-top: 30px;
}
.black-main{
    margin-top: 30px;
    display: flex;
}
.head-class{
    display: flex;
    padding: 20px 420px;
    justify-content: center;
    justify-content: space-between;
}
p{
    font-size: medium;
    color: black;
}
.head-color{
    background-color: rgb(246, 246, 246);
    margin-bottom: 30px;
    color:rgb(115, 0, 231) ;
}
.page-img-div{
    margin-bottom: 60px;
}
.page-img-div-1{
    display: flex; 
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.img-2{
    width: 80px ;
}
.page-div{
    margin-left: 150px;
}
.img-words{
    margin-left :30px; 
}
.str-div{
    margin-top: 30px;
}
.img-div-5{
    width: 50%; 
}
.main-from-2-div{
    display: flex;
    margin-top: 150px;
    margin-bottom: 50px;
}
.position{
    margin-left: 50px;
}
.main-div-2-class{
    display: flex;
    width: 100%;
    background-color: rgb(222, 222, 222);
}
.main-fff-2{
    margin-top:180px ;
    margin-left: 150px;
    
}
.main-fff{
    display: flex;
}
.form-div-position{
    margin-top: 50px;
    margin-left: 30px;
    background-color: white;
    padding: 10px;
    margin-bottom:80px ;
}
.space-div{
    font-size: small;
}
.link-div{
    font-size: large;
    color:rgb(115, 0, 231);
}
.size-div{
    width: 25px;
}
.btn-kb,.btn-gk{
    padding: 12px 20px;
    font-size: 18px;
    font: large;
    color: white;
    background-color: rgb(115, 0, 231);
    border-radius: 5px;
    border: none;
    margin-top:20px;
}
.main-div-2-class-1{
    margin:40px 20px ;
    background-color: rgb(38, 38, 38);
    border-radius: 20px;
}
.form-words{
    text-align: center;
    color: white;
    padding: 50px 10px;
}
.form-black{
    margin-top: 30px;
}
.main-div-2-class-2{
    display: flex;
    background-color: black;
}
.color-div{
    color: aliceblue;
    margin-top: 80px;
    margin-left: 120px;
}
.size-img{
    width: 200px;
}
.img-size-1{
    background-color: white;
    border-radius: 8px;
    width: 40px;
    margin-right: 30px;
    margin-top: 40px;
}
.img-size-2,.img-size-3{
    background-color: white;
    width: 40px;
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 30px;
}
.box-div{
    color: black;
}
.white-div{
    background-color: white;
    margin: 60px;
    margin-left: 150px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 30px;
    border-radius: 15px;
}
.color-div{
    margin-bottom: 50px;
}
.size-1{
    width: 50%;
    margin-top: 80px;
}
.btn-gk{
    margin-bottom: 30px;
}