.main-div{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form-div{
    background-color: white;
    width: 400px;
    border-radius: 15px;
}
.head-div{
    padding-left: 40px ;
    margin-bottom: 10px;
}
h2{
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 4px;
}
input,button{
    margin-left: 40px;
    padding: 5px 7px;
    width: 70%;
    border-radius: 3px;
    margin-bottom: 12px;
    border: solid 1px;
}

button{
    width: 75%;
    border-radius: 8px;
    background-color: #f0c146;
    border-color: #a88734 #9c7e31 #846a29; 
}
a{
    text-decoration: none;
    color: cornflowerblue;
}
.para{
    margin-left: 40px;
    width: 80%;
    font-size: 14px;
    margin-bottom: 20px;
}
.icon{
    margin-left: 20px;
    padding-bottom: 20px;
}
h5{
    display: inline-block;
    line-height: 1;
    position: relative;
    z-index: 2;
    color: black;
    align-items: center;
    padding-left: 80px;
    margin-bottom: 20px;
}
#button-2{
    margin-left: 0;
    width: 100%;
    justify-content: left;
    margin-right: 100px;
    position: relative;
    background-color: aliceblue;
    color: black;
    border-color: rgba(0, 0, 0, 0.504);
}