.banner{
    padding-bottom: 50px;
    background-color: rgba(13, 13, 13, 0.952);
}


.anime-dis:hover{
    color: orange;
}

.img-div{
    width: 35%;
}

.del{
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.del:hover{
    color: rgba(255, 68, 0, 0.934);
}

.del-2,.del-5{
    font-size: 15px;
    font-weight: 700;
    color: black;
}

.del-5:hover{
    color: rgb(45, 45, 164);
}

.del-2:hover{
    color: orange;
}

.del-3,.del-4{
    font-size: 15px;
    font-weight: 700;
}

.del-3:hover{
    color: rgb(127, 126, 39);
}

.del-4:hover{
    color: black;
}

.btn-1{
    border: none;
    border-radius: 3px;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-1:hover{
    border: none;
    border-radius: 3px;
    background-color: black;
    color: orange;
    padding: 5px 10px;
    font-size: 20px;
}

.scrollmanu{
    overflow: auto;
    white-space: nowrap;
    display: flex;
}

.scrollmanu::-webkit-scrollbar{
    width: 0;
}

.img-1{
    width: 100%;
    display: flex;
}

.img-1 .img-2{
    width: 300px;
    block-size: 500px;
    margin-right: 10px;
    
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    text-align: start;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(41, 40, 40, 0.955);
    font-weight: 400;
    color: white;
    padding-left: 8px;
}


.img-2{
    position: relative;

}

.img-2 {
    display: block;
    width: 100%;
    height: auto;
}

.img-2:hover .overlay{
    opacity: 1;
}

.h1-div{
    border-bottom: 3px solid ;
    width: 40%;
    margin-top: 20px;
    color: white;
}

.p-div{
    color: white;
}

.svg{
    margin-top: 150px;
    margin-left: 20px;
    width: 60%;
    justify-content: space-evenly;
}

.svg-1:hover{
    color: orange;
}

.balck-div{
    background-color: rgba(30, 30, 30, 0.87);
    color: white;
}

.main-div-1{
    width: 100%;
    height: 550px;
    background-color: orange;
    justify-content: center;
    align-items: center;
    display: flex;
}

.black-color{
    width: 90%;
    height: 450px;
    background-color:black ;
    display: flex;
    color: white;
}

.img-ani-1{
    width: 35%;
    margin: 7px;
}

.img-ani-2{
    width: 28%;
    margin: 7px;
}

.color-btn{
    padding: 10px 35px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    border: 1px solid black ;
    background-color: orange;
    margin-right: 15px;
}

.color-btn:hover{
    padding: 13px 38px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    border: 1px solid orange ;
    background-color: black;
    margin-right: 12px;
}

.color-btn-1{
    padding: 10px 25px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    border: 1px solid orange ;
    background-color: black;
}

.color-btn-1:hover{
    padding: 13px 28px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    border: 1px solid black;
    background-color: orange;
}

.mar-div{
    margin-top: 180px;
}

.h2:hover{
    border-bottom: 3px solid white;
    width: 50%;
}

.h2-1:hover{
    border-bottom: 3px solid white;
    width: 60%;
}

.link-a{
    text-decoration: none;
    color: ghostwhite;
    margin-left: 5px;
}

.link-a1{
    text-decoration: none;
    color: ghostwhite;
    margin-left: 9px;
}

.h3{
    color: white;
}

svg{
    color: gray;
}

svg:hover{
    color: white;
}
