.Netfilx-div{
    font-family:"Netfilx sans","Helvetica Neue","Segoe UI","Roboto","Ubuntu", sans-serif;
    font-optical-sizing: auto;
    color: red;
    position: relative;
    padding-left: 200px;
    font-size: 25px;
}
body{
    background-image: url(https://singh-cp.github.io/netflix-landingpage/images/netflix-background-image.jpg);
    
}
.net-1{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:300px ;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    color: white;
    padding-left:60px ;
}
.net-3,.net-4,.net-5{
    display: flex;
    width: 100%;
}
input{
    background-color: rgba(0, 0, 0,0.7);
    color: white;
    padding: 18px;
    width: 120%;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 20px;
}
button{
    background-color: red;
    color: white;
    padding: 12px;
    width: 80%;
    border-radius:8px ;
    font-size: 18px;
    margin-bottom: 20px;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 20px;
    margin: 0;
    padding: 0px 170px;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}
.net-6{
    background-color:rgba(90, 89, 89, 0.7) ;
    color: white;
    width: 220%;
    font-size: medium;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    padding: 0px 100px;
    margin-bottom: 20px;
}

input[type="checkbox" ]{
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin:0px;
    border: initial;
    padding: 0px;
    height: 20px;
    width: 20px;
    margin-bottom: 70px;
}
