*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "quicksand", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    justify-content: center;
    align-items: center;
}
.ring{
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;

}
.ring i:nth-child(1) {
    border-radius: 38% 62% 37% / 41% 44% 56% 59%;
    animation: animate 6s  linear infinite;
}
.ring i:nth-child(2){
    border-radius: 41% 44% 56% 59%/ 38% 62% 63% 37%;
    animation: animate2 4s linear infinite;
}
.ring i:nth-child(3){
    border-radius: 41% 44% 56% 59%/ 38% 62% 63% 37%;
    animation: animate3 10s linear infinite;
}
